body{
  background-color: rgb(10, 85, 60);
}
.app{
  background-color: brown;
  height: 400px;
  width: 300px;
  margin: 40px auto;
}
#to-do-form input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;   
    margin: 10px;
}
#to-do-form button{
  width: 55px;
  height: 40px;
  border-radius: 10px;
}