.list{
    color: #ffffff;
    background-color: cadetblue;
    width: 200px;
    height: 30px;
    margin: 20px auto;

}
.list p{
    padding: 10px;
    position: relative;
}
.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}